.chose-content-area{
    un-chose-color: #ffffff;
    un-chose-text-color: md-grey-500;

    chose-color: md-grey-500;
    chose-text-color: #ffffff;
    -fx-background-radius: 4px;

}
.chose-content-area .chose-item .chose-item-control{
    -fx-background-color: un-chose-color;
    -fx-text-fill: un-chose-text-color;
    -fx-font-weight: bold;
    -fx-padding: 16px;
}

.chose-content-area .chose-item:chosen .chose-item-control {
    -fx-text-fill: chose-text-color;
    -fx-background-color: chose-color;
}