/*           top      right    bottom   left*/
.jfx-toolbar {
    -fx-min-height:40;
    -fx-background-color: md-primary-color;
    -fx-padding: 16px;
}

.jfx-toolbar Label {
    -fx-text-fill: md-primary-text-color;
}

.jfx-toolbar JFXTextField {
    -jfx-focus-color: md-accent-color;
    -jfx-unfocus-color: md-primary-text-color;
    -jfx-label-float: true;
    -fx-text-fill: md-primary-text-color;
    -fx-prompt-text-fill: md-primary-text-color;
}

.jfx-hamburger{
    -fx-spacing: 4;
    -fx-cursor: hand;
    -fx-padding: 16px;
}

.jfx-hamburger StackPane{
    -fx-pref-width: 35px;
    -fx-pref-height: 2px;
    -fx-background-color : md-primary-text-color;
    -fx-background-radius :0px;
}

.floating-action-area {
    -fx-pref-height : 50px;
    -fx-pref-width  : 50px;
    -fx-min-height  : 50px;
    -fx-min-width   : 50px;
    -fx-max-height  : 50px;
    -fx-max-width   : 50px;
    -fx-background-color: #FF5722;
    -fx-background-radius: 50px;
}

.floating-action-button {
    -fx-background-color: transparent ;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 50px;
    -fx-pref-height:       50px;
    -fx-pref-widtht:       50px;
    -fx-border-radius:     50px;


}
/* Floating action button */

/* Floating action button */
.floating-action-button-icon {
    -fx-background-color: #FF5722 ;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 4px;
    -fx-background-radius: 72px;
    -fx-pref-height:       72px;
    -fx-pref-widtht:       72px;
    -fx-border-radius:     72px;
}

.anchor-header {
    -fx-background-image: url(/images/backgroud.png);
    -fx-background-size: cover;
    -fx-pref-height: 150;
    -fx-pref-width: 300;
}

.card-primary-color{
    -fx-background-color: md-primary-color;
    -fx-effect: dropshadow(gaussian, md-primary-color, 5, 0, 0,1);
    -fx-padding: 16 16 16 16;
    -fx-end-margin: 0;
    -fx-start-margin: 0;
}

.text-field {
    -fx-unfocus-color: md-primary-color;
    -fx-focus-color: md-accent-color;
    -fx-label-float:true;
}

.combo-box {
    -fx-pref-height: 40;
}


/*Details lateral*/
.details-header-title{
    -fx-text-fill: md-primary-color;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.details-header-icon-area{
    -fx-padding: 16px;
}

.details-header-icon-area MaterialDesignIconView{
    -fx-fill: md-primary-color;
    -fx-pref-width: -Infinity;
    -fx-pref-height: -Infinity;
}

.details-area{
    -fx-text-fill: md-primary-color;
    -fx-font-size: 14px;
}

.details-area-field{
    -fx-text-fill: md-secondary-text-color;
}

.detail-area-field-value{

}


.drawer-details {
    -fx-pref-width: 600px;
    -fx-max-width: 600px;
    -fx-min-width: 600px;
    -fx-min-height: 50px;


}

.drawer-details-page {
    -fx-pref-width: 600px;
    -fx-max-width: 600px;
    -fx-min-width: 600px;
}




.form{
    -fx-background-color: #FFFFFF;
}

.form JFXTextField,
.form JFXTextArea,
.form JFXComboBox,
.form JFXDatePicker,
.form JFXToggleButton
{
    -jfx-focus-color: md-accent-color;
    -jfx-unfocus-color: md-primary-color;
    -jfx-label-float: true;
    -fx-text-fill: md-text-color;
    -fx-prompt-text-fill: md-text-color;
    -fx-pref-width: 250px;
    -fx-max-width:  250px;
    -fx-min-width:  250px;
}

/*.form JFXDatePicker*/
 /*{*/
    /*-jfx-default-color: md-primary-color;*/
    /*-fx-text-fill: md-primary-text-color;*/
    /*-fx-prompt-text-fill: md-primary-text-color;*/
    /*-fx-pref-width: 250px;*/
    /*-fx-max-width:  250px;*/
    /*-fx-min-width:  250px;*/
/*}*/


/*.form JFXToggleButton {*/
    /*-jfx-default-color: md-primary-color;*/
    /*-fx-text-fill: md-text-color;*/
    /*-fx-prompt-text-fill: md-text-color;*/
    /*-fx-pref-width: 250px;*/
    /*-fx-max-width:  250px;*/
    /*-fx-min-width:  250px;*/
/*}*/

.form-simple.form JFXTextField {
    -fx-pref-width: 300px;
    -fx-max-width:  300px;
    -fx-min-width:  300px;
}


.form-simple.form JFXComboBox {
    -fx-pref-width: 300px;
    -fx-max-width:  300px;
    -fx-min-width:  300px;
}


.form-simple.form  JFXDatePicker {
    -fx-pref-width: 300px;
    -fx-max-width:  300px;
    -fx-min-width:  300px;
}

.form-simple.form Label {
    -fx-pref-width: 300px;
    -fx-max-width:  300px;
    -fx-min-width:  300px;
}

.form-simple.form JFXTextArea {
    -fx-pref-width: 300px;
    -fx-max-width:  300px;
    -fx-min-width:  300px;
    -fx-pref-height: 100px;
    -fx-max-height:  100px;
    -fx-min-height:  100px;
}

.form-simple.form TextArea {
    -fx-pref-width: 300px;
    -fx-max-width:  300px;
    -fx-min-width:  300px;
}


/** Buttom */

.button{
    -fx-padding: 16px;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.button.primary{
    -fx-background-color: md-primary-color;
    -fx-text-fill: #FFFFFF;
}

.button.accent{
    -fx-background-color: md-accent-color;
    -fx-text-fill: #FFFFFF;
}

.button.unaccent{
    -fx-background-color: md-grey-500;
    -fx-text-fill: #FFFFFF;
}

.button.raised{
    -jfx-button-type: RAISED;
}

.button.top-button{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: md-grey-500
}

.button.top-button MaterialDesignIconView{
    -fx-fill: #ffffff;
}


/**Modal Styles**/
.modal{
    -fx-background-color: #FFFFFF;
}

.modal-title{
    -fx-text-fill: md-primary-color;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 16px;
    -fx-alignment: CENTER_LEFT;
}



.modal-button-success {

}




.lista-movimento-field-title{
    -fx-text-fill: md-secondary-text-color;
    -fx-font-size: 13px;
}

.lista-movimento-field-value{
    -fx-text-fill: md-text-color;
    -fx-font-size: 13px;
}


.lista-movimento-montante-paga{
    -fx-text-fill: md-green-500;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.icon-area{
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-padding: 16px;
}

.icon-close{
    -glyph-name: CLOSE;
    -glyph-size: 20px;
    -fx-fill: md-red-500;
}

.window-title{
    -fx-background-color: md-primary-dark-color;
}

.window-title .icon-close{
    -glyph-size: 15px;
}


/**Fromulario nova venda styles**/

.venda-form {
    filed-size-normal: 142px;
    filed-size-long:   300px;
    list-height: 330px;
}

.long-field {
    -fx-pref-width: filed-size-long;
    -fx-min-width:  filed-size-long;
    -fx-max-width:  filed-size-long;
}


.number-field{
    -fx-alignment: CENTER_RIGHT;
}

.money-field{
    -fx-alignment: CENTER_RIGHT;
}


.operacao-form-list JFXListView{
    -fx-pref-width: filed-size-long;
    -fx-min-width:  filed-size-long;
    -fx-max-width:  filed-size-long;

    -fx-pref-height: list-height;
    -fx-min-height: list-height;
    -fx-max-height: list-height;
}


.operacao-form-list JFXTextField{
    -fx-pref-width: filed-size-long;
    -fx-min-width:  filed-size-long;
    -fx-max-width:  filed-size-long;
}



.venda-form-form JFXTextField {
    -fx-pref-width: filed-size-normal;
    -fx-min-width:  filed-size-normal;
    -fx-max-width:  filed-size-normal;
}


.venda-form-form JFXComboBox {
    -fx-pref-width: filed-size-normal;
    -fx-min-width:  filed-size-normal;
    -fx-max-width:  filed-size-normal;
}


.venda-form-form JFXToggleButton {
    -fx-pref-width: filed-size-normal;
    -fx-min-width:  filed-size-normal;
    -fx-max-width:  filed-size-normal;
}

.venda-form-form .long-field  {
    -fx-pref-width: filed-size-long;
    -fx-min-width:  filed-size-long;
    -fx-max-width:  filed-size-long;
}

.venda-form-form JFXDatePicker {
    -fx-pref-width: filed-size-normal;
    -fx-min-width:  filed-size-normal;
    -fx-max-width:  filed-size-normal;
}

.venda-form-the-client Label{
    -fx-pref-width: filed-size-normal;
    -fx-min-width:  filed-size-normal;
    -fx-max-width:  filed-size-normal;
}

.venda-form-the-client .long-field  {
    -fx-pref-width: filed-size-long;
    -fx-min-width:  filed-size-long;
    -fx-max-width:  filed-size-long;
}


.venda-form-the-client .long-field {
    -fx-pref-width: filed-size-long;
    -fx-min-width: filed-size-long;
    -fx-max-width: filed-size-long;
}

.venda-form-valor-final {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: md-orange-500;
}

/*<< MENU =============== */

.menu-area {
    /*           top      right    bottom   left*/
    -fx-padding: 0px      0px      0px      0px;
}

.menu-area Label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.menu-area MaterialDesignIconView {
    -glyph-name: MENU;
    -glyph-size: 32px;
    -fx-fill: #ffffff;
}

.menu-area.dark {
    -fx-background-color: #FFFFFF;
}

.menu-area.dark Label{
    -fx-text-fill: md-primary-color;
}

.menu-area.dark MaterialDesignIconView {
    -fx-fill: md-primary-color;
}

/*top      right    bottom   left*/
.produto-servico{
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-padding: 16px 32px 16px 32px;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: md-red-500;
}
.produto-servico.ativo{
    -fx-background-color: md-green-500;
}



/*=============== MENU >>*/

.rippler.close{
    -jfx-rippler-fill: md-red-500
}
.rippler.primary{
    -jfx-rippler-fill: md-primary-color
}
