*{
    md-accent-color: #FF5722;
    md-primary-color: #009688;
    md-primary-dark-color: #00796B;
    md-primary-light-color: #B2DFDB;
    md-text-color: #212121;
    md-primary-text-color: #FFFFFF;
    md-secondary-text-color: #757575;
    md-divider-color: #BDBDBDBD;
    md-floating-action-size: 50px;
    md-floating-action-icon-size: 66px;

    md-green-500: #4caf50;
    md-red-500: #f44336;
    md-grey-500: #9e9e9e;
    md-blue-500: #2196f3;
    md-ligth-blue-500: #03a9f4;
    md-cayan-500:#00bcd4;
    md-indgo-500: #3f51b5;
}

.tree-table-view{
    -fx-tree-table-color: md-blue-500;
    -fx-tree-table-rippler-color : rgba(255, 0, 0, 0.9);
}
.tree-table-view:focused .tree-table-row-cell:selected {
    -fx-background-color: -fx-tree-table-color  /*bom*/;
    -fx-table-cell-border-color: /*-fx-tree-table-color*/ #FFFFFF;
}

.tree-table-view:focused .tree-table-row-cell:selected .tree-table-cell{
    -fx-text-fill: white;
}

.tree-table-view .jfx-rippler {
    -fx-rippler-fill: -fx-tree-table-rippler-color;
}

.tree-table-view .column-header ,
.tree-table-view .column-header-background,
.tree-table-view .column-header-background .filler{
    -fx-background-color:TRANSPARENT;
}

.tree-table-view .column-header{
    -fx-border-width : 0 1 0 1;
    -fx-border-color: #F3F3F3;
}

.tree-table-view .column-header .label {
    -fx-text-fill : #949494;
    -fx-padding : 16 0 16 0 ;
}

.tree-table-view .column-header .arrow, .tree-table-view .column-header .sort-order-dot{ 
    -fx-background-color : #949494;
}

.tree-table-view .column-header:last-visible {
    -fx-border-width: 0 2 0 1;
}

.tree-table-view .column-header-background{
    -fx-border-width : 0 0.0 1 0;
    -fx-border-color:#F3F3F3;
}

.tree-table-view .tree-table-cell{
    -fx-border-width:0 0 0 0;
    -fx-padding : 16 0 16 0 ;
}

.tree-table-view .column-overlay{
    -fx-background-color: -fx-tree-table-color;
}

.tree-table-view .column-resize-line, .tree-table-view .column-drag-header{
    -fx-background-color: -fx-tree-table-rippler-color;
}

.tree-table-view:focused {
    -fx-background-color: #FFFFFF, -fx-box-border,-fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    /*....*/
    -fx-padding: 1; /* 0.083333em; */
}

.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}
.tree-table-row-cell .jfx-text-field{
    -fx-focus-color: rgba(240,40,40);
}

