

/*============================== DEFAULT TABLE STYLES ========================================*/


.tree-table-view{
    -fx-tree-table-color: md-blue-500;
    -fx-tree-table-rippler-color : rgba(255, 0, 0, 0.9);
}

.tree-table-view:focused .tree-table-row-cell:selected {
    -fx-background-color: -fx-tree-table-color  ;
    -fx-table-cell-border-color: FFFFFF;
}

.tree-table-view:focused .tree-table-row-cell:selected .tree-table-cell{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.tree-table-view .jfx-rippler {
    -fx-rippler-fill: -fx-tree-table-rippler-color;
}

.tree-table-view .column-header ,
.tree-table-view .column-header-background,
.tree-table-view .column-header-background .filler{
    -fx-background-color:TRANSPARENT;
}


.tree-table-view .column-header{
    -fx-border-width : 0 1 0 1;
    -fx-border-color: #F3F3F3;
}

.tree-table-view .column-header .label {
    -fx-text-fill : #949494;
    -fx-padding : 16 0 16 0 ;
}

.tree-table-view .column-header .arrow, .tree-table-view .column-header .sort-order-dot{ 
    -fx-background-color : #949494;
}

.tree-table-view .column-header:last-visible {
    -fx-border-width: 0 2 0 1;
}


.tree-table-view .column-header-background{
    -fx-border-width : 0 0.0 1 0;
    -fx-border-color:#F3F3F3;
}


.tree-table-view .column-overlay{
    -fx-background-color: -fx-tree-table-color;
}

.tree-table-view .column-resize-line, .tree-table-view .column-drag-header{
    -fx-background-color: -fx-tree-table-rippler-color;
}

.tree-table-view:focused {
    -fx-background-color: #FFFFFF, -fx-box-border,-fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    -fx-padding: 1;
}


.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em;
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}

.tree-table-row-cell .jfx-text-field{
    -fx-focus-color: rgba(240,40,40);
}


/*============================== CUSTOM TABLE STYLES ========================================*/


.tree-table-view .tree-table-row-cell{
    -fx-background-color: #FFFFFF;
}

/*CELL'S AND PADDING'S*/
.tree-table-view .tree-table-cell{
    -fx-border-color: md-grey-300;
    -fx-border-style: solid;
         /*           top      right    bottom   left*/
    -fx-border-width: 1px      0px      0px      0px;
    -fx-padding : 16 16 16 16;
}

.tree-table-view .column-header-background StackPane{
    -fx-padding: 16px;
}



/*ALIGNMENTTs */
.tree-table-view .column-header-background .table-column-left StackPane{
    -fx-alignment: CENTER_LEFT;
}

.tree-table-view .virtual-flow .table-column-left{
    -fx-alignment: TOP_LEFT;
}

.tree-table-view .column-header-background .table-column-number StackPane {
    -fx-alignment: CENTER_RIGHT;
}

.tree-table-view .virtual-flow .table-column-number{
    -fx-alignment: TOP_RIGHT;
}


.tree-table-view .column-header-background .table-column-money StackPane {
    -fx-alignment: CENTER_RIGHT;
}

.tree-table-view .virtual-flow .table-column-money{
    -fx-alignment: TOP_RIGHT;
}

/*TABELA DIVIAD*/
.divida, .venda{
    color-estado-pendente: md-orange-500;
    color-estado-pagamento: md-green-500;
    color-estado-pago: md-blue-grey-500;
    color-estado-anulado: md-grey-500;
}


.tree-table-view .tree-table-row-cell.divida.pendente {
    -fx-background-color: color-estado-pendente;;
}
.tree-table-view .tree-table-row-cell.divida.pagamento {
    -fx-background-color: color-estado-pagamento;
}
.tree-table-view .tree-table-row-cell.divida.pago {
    -fx-background-color: color-estado-pago;
}

.tree-table-view .tree-table-row-cell.divida.anulado,
.tree-table-view .tree-table-row-cell.venda.anulado {
    -fx-background-color: color-estado-anulado;
}

.tree-table-view .tree-table-row-cell.divida.pendente:selected,
.tree-table-view .tree-table-row-cell.divida.pagamento:selected,
.tree-table-view .tree-table-row-cell.divida.anulado:selected,
.tree-table-view .tree-table-row-cell.venda.anulado:selected,
.tree-table-view .tree-table-row-cell.divida.pago:selected{
    -fx-background-color: md-blue-500;
}


.tree-table-view .divida.pendente .tree-table-cell,
.tree-table-view .divida.pagamento .tree-table-cell,
.tree-table-view .divida.anulado .tree-table-cell,
.tree-table-view .venda.anulado .tree-table-cell,
.tree-table-view .divida.pago .tree-table-cell {
    -fx-text-fill: #ffffff;
}

/*TABELA PRECO ATIVO*/
.tree-table-view.produto-precos-ativo .tree-table-row-cell.base {
    -fx-background-color: md-blue-grey-500;
}
.tree-table-view.produto-precos-ativo .tree-table-row-cell.base .tree-table-cell {
    -fx-text-fill: #ffffff;
}
.tree-table-view.produto-precos-ativo .tree-table-row-cell:selected.base {
    -fx-background-color: md-blue-500;
}




/*ICONS INTO TABLES*/
/*           top      right    bottom   left*/
.column-icons-area{
    icon-normal-color : black;
    icon-primary-color : md-primary-color;
    icon-destroy-color : md-red-500;
    icon-rippler-color : md-blue-500;
    icon-selected-color: #FFFFFF;
    icon-pane-size: 36px;
    icon-normal-size: 16px;
    icon-big-size: 24px;
}

/*ICONS INTO TABLES - STRUCTURE */
.tree-table-view .tree-table-cell.column-icons-area {
    -fx-padding : 0px;
}

.tree-table-view .tree-table-cell.column-icons-area .icon-rippler{
    -jfx-mask-type: CIRCLE;
    -jfx-rippler-fill: icon-rippler-color;
}

.tree-table-view .tree-table-cell.column-icons-area .icon-rippler .icon-pane{
    -fx-background-radius: 36px;
    -fx-min-height:  icon-pane-size;
    -fx-max-height:  icon-pane-size;
    -fx-min-width:   icon-pane-size;
    -fx-max-width:   icon-pane-size;
    -fx-pref-width:  icon-pane-size;
    -fx-pref-height: icon-pane-size;
}

/*ICONS INTO TABLES - COLORS*/
.tree-table-view .tree-table-cell.column-icons-area .icon-view,
.tree-table-view .tree-table-row-cell:selected .tree-table-cell.column-icons-area .icon-pane .icon-view
{
    -fx-fill: icon-normal-color;
}

.tree-table-view .tree-table-cell.column-icons-area .icon-primary .icon-view,
.tree-table-view .tree-table-row-cell:selected .tree-table-cell.column-icons-area .icon-primary .icon-pane .icon-view
{
    -fx-fill: icon-primary-color;
}

.tree-table-view .tree-table-cell.column-icons-area .icon-destroy .icon-view,
.tree-table-view .tree-table-row-cell:selected .tree-table-cell.column-icons-area .icon-destroy .icon-pane .icon-view
{
    -fx-fill: icon-destroy-color;
}

.tree-table-view .tree-table-cell.column-icons-area .icon-rippler .icon-pane .icon-view {
    -glyph-size: icon-normal-size;
}

/*ICONS INTO TABLES - HOVER*/
.tree-table-view .tree-table-cell.column-icons-area .icon-rippler .icon-pane:hover{
    /*-fx-padding: 0px 6px 0px 6px;*/
    -fx-background-radius: 36px;
}

.tree-table-view .tree-table-cell.column-icons-area .icon-rippler .icon-pane:hover .icon-view {
    -glyph-size: icon-big-size;
    -fx-fill: #FFFFFF;
}

.tree-table-view .tree-table-cell.column-icons-area .icon-rippler .icon-pane:hover {
    -fx-background-color: icon-normal-color;
}

.tree-table-view .tree-table-cell.column-icons-area .icon-rippler.icon-destroy .icon-pane:hover {
    -fx-background-color: icon-destroy-color;
}

.tree-table-view .tree-table-cell.column-icons-area .icon-rippler.icon-primary .icon-pane:hover {
    -fx-background-color: icon-primary-color;
}

.tree-table-view .tree-table-cell.column-icons-area .icon-rippler .icon-pane:hover .icon-view {
    -glyph-size: icon-big-size;
}

/*ICONS INTO TABLES - SELECTION*/
.tree-table-view .tree-table-row-cell:selected .tree-table-cell.column-icons-area .icon-rippler .icon-pane {
    -fx-background-color: icon-selected-color;
}






/*TABELA DIVIAD*/
.produto{
    color-estado-stock-vazio: md-red-500;
    color-estado-stock-minimo: md-orange-500;
    color-estado-fechado: md-blue-grey-500;
    color-estado-ok: md-green-500;
}
.tree-table-view.produto .tree-table-row-cell.stock_vazio {
    -fx-background-color: color-estado-stock-vazio;
}
.tree-table-view.produto .tree-table-row-cell.stock_minimo {
    -fx-background-color: color-estado-stock-minimo;
}
.tree-table-view.produto .tree-table-row-cell.fechado {
    -fx-background-color: color-estado-fechado;
}
.tree-table-view.produto .tree-table-row-cell.ok {
    -fx-background-color: color-estado-ok;
}

.tree-table-view.produto .tree-table-row-cell.stock_vazio:selected,
.tree-table-view.produto .tree-table-row-cell.stock_minimo:selected,
.tree-table-view.produto .tree-table-row-cell.fechado:selected,
.tree-table-view.produto .tree-table-row-cell.ok:selected,
.tree-table-view .tree-table-row-cell.divida.pago:selected{
    -fx-background-color: md-blue-500;
}


.tree-table-view.produto .tree-table-cell {
    -fx-text-fill: #ffffff;
}

.tree-table-view.produto .tree-table-row-cell.divida:selected{
    -fx-font-size: bold;
}

